<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Polls</a></li>
  </ol>
</nav>

<div class="jumbotron">
  <div class="container" style="text-align:center">
  <h1 class="display-4"> Polls List </h1>
  <p class="lead"> Here, you can see all of the polls we've received since our grand inception. </p>
  <hr class="my-4">
  <br>

  {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>
</div>

<footer>
<div class= "navbar navbar-inverse navbar-static-bottom" role="navigation">
    <div class="navbar-text pull-left">
    </div>
    <div class= "navbar-text pull-right">
<!-- Add in your social media / github links here -->
        <a href="https://github.com/clarkdatalabs">
            <i class="fa fa-github-square fa-2x"></i></a>
    </div>
    <!--Below is the copyright information for the site. You can fill in your own here.-->
    <div class="navbar-text pull-left">
    &copy; Jared Zhang, 2019
    </div>
</div>	
</footer>
